@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .prose kbd {
    @apply rounded-sm bg-slate-100 px-1 py-0.5 font-sans text-sm font-semibold tracking-tighter text-slate-900 dark:bg-slate-800 dark:text-white;
  }

  .prose code:not(pre *) {
    @apply rounded-sm bg-slate-100 p-1 dark:bg-slate-700;
    hyphens: none;
    -webkit-hyphens: none;
  }

  .prose code::before,
  .prose code::after {
    content: "";
  }

  .prose p {
    @apply text-justify;
    hyphens: auto;
    -webkit-hyphens: auto;
  }
}
